.radio-button {
    height: 40px;

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;

    background: transparent;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: medium;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.radio-button:hover {
    background-color: var(--tertiary-color);
}

.radio-button.selected, .radio-button:hover {
    background: var(--secondary-color);
}