:root {
    --primary-color: #151515;
    --secondary-color: #2B2B2B;
    --tertiary-color: #606060;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    background: var(--primary-color);
}

#main {
    height: 100%;
}

@font-face {
    font-family: "Mont Blanc";
    src: url("../fonts/mont_blanc_regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mont Blanc";
    src: url("../fonts/mont_blanc_bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Mont Blanc";
    src: url("../fonts/mont_blanc_semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: "Mont Blanc", serif;
}
